<config>
  <!--
      The module's node contains basic
      information about each Magento module
  -->
  <modules>
    <!--
        This must exactly match the namespace and module's folder
        names, with directory separators replaced by underscores
    -->
    <Sparo_CharityProcessor>
      <!-- The version of our module, starting at 0.0.1 -->
      <version>1.0.1</version>
    </Sparo_CharityProcessor>
  </modules>
  <global>
    <resources>
      <sparo_charityprocessor_setup>
        <setup>
          <module>Sparo_CharityProcessor</module>
          <class>Sparo_CharityProcessor_Model_Resource_Script_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </sparo_charityprocessor_setup>
    </resources>
    <models>
      <sparo_charityprocessor>
        <class>Sparo_CharityProcessor_Model</class>
      </sparo_charityprocessor>
    </models>
    <events>
      <checkout_type_onepage_save_order_after>
        <observers>
          <sparo_charityprocessor>
            <class>sparo_charityprocessor/observer</class>
            <method>sendConfirmation</method>
            <type>singleton</type>
          </sparo_charityprocessor>
        </observers>
      </checkout_type_onepage_save_order_after>
    </events>
  </global>
  <frontend>
    <routers>
      <charityprocessor>
        <use>standard</use>
        <args>
          <module>Sparo_CharityProcessor</module>
          <frontName>charityprocessor</frontName>
        </args>
      </charityprocessor>
    </routers>
  </frontend>
</config>
