<config>
  <!--
      The module's node contains basic
      information about each Magento module
  -->
  <modules>
    <!--
        This must exactly match the namespace and module's folder
        names, with directory separators replaced by underscores
    -->
    <Sparo_CharityProcessor>
      <!-- The version of our module, starting at 0.0.1 -->
      <version>1.0.4</version>
    </Sparo_CharityProcessor>
  </modules>
  <global>
    <resources>
      <sparo_charityprocessor_setup>
        <setup>
          <module>Sparo_CharityProcessor</module>
          <class>Sparo_CharityProcessor_Model_Resource_Script_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </sparo_charityprocessor_setup>
    </resources>
    <models>
      <sparo_charityprocessor>
        <class>Sparo_CharityProcessor_Model</class>
      </sparo_charityprocessor>
    </models>
    <events>
      <sales_order_save_after>
        <observers>
          <sparo_charityprocessor_order_save_after>
            <class>Sparo_CharityProcessor_Model_SaleObserver</class>
            <method>sendConfirmation</method>
            <type>singleton</type>
          </sparo_charityprocessor_order_save_after>
        </observers>
      </sales_order_save_after>
      <admin_system_config_changed_section_sparoconfig>
        <observers>
          <sparo_admin_system_config_changed_section_sparoconfig>
            <class>Sparo_CharityProcessor_Model_ConfigObserver</class>
            <method>configSparoPlugin</method>
            <type>singleton</type>
          </sparo_admin_system_config_changed_section_sparoconfig>
        </observers>
      </admin_system_config_changed_section_sparoconfig>
    </events>
  </global>
  <frontend>
    <routers>
      <!--
      <charityprocessor>
        <use>standard</use>
        <args>
          <module>Sparo_CharityProcessor</module>
          <frontName>charityprocessor</frontName>
        </args>
      </charityprocessor>
      -->
    </routers>
  </frontend>
</config>
